- **SQL:** is the programming language used with databases.
- **BigQuery:** a web service that lets you apply SQL to huge datasets.

In [1]:
from google.cloud import bigquery
import pandas as pd

print("Setup Complete!")

Setup Complete!

- Learn the basics of accessing and examining `BigQuery` datasets.
- `Client` object will play a central role in retrieving information from BigQuery datasets

In [2]:
# create a "Client" object
client = bigquery.Client()

In BigQuery, each dataset is contained in a corresponding project. In this case, our hacker_news dataset is contained in the `bigquery-public-data project.` To access the dataset,

- We begin by constructing a reference to the dataset with the `dataset()` method.
- Next, we use the `get_dataset()` method, along with the reference we just constructed, to fetch the dataset.

In [3]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

#print("done!")

- Every dataset is just a collection of tables.
- Think of a dataset as a spreadsheet file containing multiple tables, all composed of rows and columns

In [13]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

full

In [20]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

![Image](biYqbUB.png)

**Table Schema**

The structure of a table is called its **schema**

In [21]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', None, 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', None, 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', None, 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', None, 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', None, "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', None, 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', None, 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', None, 'type of details (comment comment_ranking poll story job pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', None, "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', None, 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', None, 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', None, 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', None, 'Is deleted?', (), None)]

Each SchemaField tells us about a specific column (which we also refer to as a **field**). In order, the information is:

- The **name** of the column
- The**field type** (or datatype) in the column
- The **mode** of the column ('NULLABLE' means that a column allows NULL - values, and is the default)
- A **description** of the data in that column
The first field has the SchemaField:

SchemaField('by', 'string', 'NULLABLE', "The username of the item's author.",())

This tells us:

- the field (or column) is called by,
- the data in this field is strings,
- NULL values are allowed, and
- it contains the usernames corresponding to each item's author.

In [15]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,True,None,<NA>,1412878620,2014-10-09 18:17:00+00:00,story,8434150,<NA>,<NA>,<NA>,<NA>
1,None,None,None,<NA>,None,<NA>,1412878987,2014-10-09 18:23:07+00:00,story,8434185,<NA>,<NA>,<NA>,<NA>
2,None,None,None,<NA>,None,<NA>,1412879008,2014-10-09 18:23:28+00:00,story,8434187,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1412879348,2014-10-09 18:29:08+00:00,story,8434225,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1412879535,2014-10-09 18:32:15+00:00,story,8434243,<NA>,<NA>,<NA>,<NA>

In [8]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

  title
0  None
1  None
2  None
3  None
4  None